.thanks__modal {
  padding: 30px;
  border-radius: 20px;
  max-width: 463px;
  width: 100%;
  min-height: 245px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thanks__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;

  margin-top: 53px;
}

.thanks-modal__item {
  position: absolute;
  &:nth-child(1) {
    top: 69px;
    left: 43px;
  }

  &:nth-child(2) {
    bottom: 70px;
    left: 87px;
  }

  &:nth-child(3) {
    bottom: 70px;
    right: 86px;
  }

  &:nth-child(4) {
    top: 69px;
    right: 42px;
  }
}
