<section class="numerical">
  <h2 class="title">Перевір в який рік ти народився</h2>
  <div class="date_container">
    <div class="date__div">
      <input
        class="date__input"
        type="number"
        placeholder="Введіть рік народження"
        data-min-length="4"
      />
      <button type="button" class="date__btn">
        <svg class="date__icon">
          <use href="/img/icons/symbol-defs.svg#icon-dandruff"></use>
        </svg>
      </button>
    </div>
    <p class="date__text"></p>
  </div>
  <hr />
</section>
