<section class="numerical">
  <hr />
  <h2 class="title">Введіть 3 числа</h2>
  <div class="enter__number_container">
    <div class="enter__number__div">
      <input
        id="one__input"
        class="enter__number__input"
        type="text"
        placeholder="Введіть число"
      />
      <input
        id="two__input"
        class="enter__number__input"
        type="text"
        placeholder="Введіть число"
      />
      <input
        id="three__input"
        class="enter__number__input"
        type="text"
        placeholder="Введіть число"
      />
    </div>
    <p class="enter__number__text">Найбільше число, яке ви ввели - (число)</p>
  </div>
</section>
