<footer id="footer">
  <div class="container">
    <a href="" class="logo">
      <div class="logo__container footer__logo">
        <svg class="logo__icon footer__logo-icon" width="40" height="38">
          <use href="/img/icons/symbol-defs.svg#logo"></use>
        </svg>
        <div class="logo__text">
          <p class="logo__coding footer__logo-coding">Coding</p>
          <p class="logo__magic footer__logo-magic">Magic</p>
        </div>
      </div>
    </a>

    <ul class="footer__list">
      <li class="footer__item">Тел: +38 (123) 456 78 90</li>
      <li class="footer__item">E-Mail: codingmagic@gmail.com</li>
      <li class="footer__item">Facebook: CodingMagic</li>
      <li class="footer__item">Twitter: CodingMagic</li>
      <li class="footer__item">Instagram: CodingMagic</li>
    </ul>

    <div class="footer__subscribe-container">
      <input
        type="email"
        name="footer__input"
        class="footer__input"
        placeholder="Ваша ел. адреса..."
      />
      <button class="footer__btn" data-open-thanks-modal>Підписатись</button>
      <p class="footer__subtitle">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
