<section>
  <h2 class="title">Вгадай число, яке загадав комп’ютер</h2>
  <div class="date_container">
    <div class="date__div">
      <input
        class="date__input"
        type="number"
        placeholder="Введіть число"
        data-min-length="1"
      />

      <button type="button" class="date__btn">
        <svg class="date__icon">
          <use href="./img/symbol-defs.svg#icon-dandruff"></use>
        </svg>
      </button>
    </div>

    <p class="date__text">Вітаю, ви вгадали число! (number)</p>
  </div>
</section>
