<header class="header">
  <nav class="nav">
    <div class="container">
      <a href="" class="logo">
        <div class="logo__container">
          <svg class="logo__icon" width="40" height="38">
            <use href="/img/icons/symbol-defs.svg#logo"></use>
          </svg>
          <div class="logo__text">
            <p class="logo__coding">Coding</p>
            <p class="logo__magic">Magic</p>
          </div>
        </div>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="interactive"
            >Інтерактив
            <svg class="arrow" width="10" height="14">
              <use href="/img/icons/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>

          <ul class="submenu__list">
            <li class="submenu__item">
              <a href="" class="submenu__link">Числовий</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Ігровий</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Ознайомчий</a>
            </li>
          </ul>
        </li>
        <li class="nav__item"><a href="">Наша команда</a></li>
        <li class="nav__item"><a href="">Контакти</a></li>
      </ul>

      <img
        src="/img/icons/light-theme.svg"
        alt=""
        class="switch-theme"
        id="icon"
      />

      <p class="greeting">Вітаємо, <span id="user__name">User</span>!</p>
    </div>
  </nav>
</header>
