<div class="backdrop js-backdrop">
  <div class="modal">
    <p class="modal__text backdown">
      Привіт! <br />
      Ви потрапили на сайт інтерактивних ігор та завдань <br />
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br />
      Бажаємо Вам гарно провести час!
    </p>

    <div class="modal__subcontainer">
      <p class="modal__text">Введіть своє ім’я:</p>

      <input type="text" class="modal__input" placeholder="Ваше ім’я..." />
      <button class="modal__save-btn">Зберегти</button>
    </div>

    <ul class="modal__list">
      <li class="modal__item">
        <img class="modal__img" src="/img/modal/sword.svg" alt="sword" />
      </li>
      <li class="modal__item">
        <img class="modal__img" src="/img/modal/puzzle.svg" alt="puzzle" />
      </li>
      <li class="modal__item">
        <img
          class="thaks-modal__img"
          src="/img/modal/tic-tac-toe.svg"
          alt="tic tac toe"
        />
      </li>
      <li class="modal__item">
        <img
          class="modal__img"
          src="/img/modal/game-development.svg"
          alt="game-development"
        />
      </li>
    </ul>

    <button type="button" class="modal__btn-close" data-action="close-modal">
      <img class="modal__btn-icon" src="/img/modal/cross.svg" alt="" />
    </button>
  </div>
</div>
