<section class="out-team__section" id="our-team">
  <h2 class="title">Наша команда</h2>

  <div class="swiper">
    <ul class="out-team__item swiper-wrapper">
      <li class="out-team__item swiper-slide">
        <img src="./img/our-team.png" alt="" class="out-team__img" />
        <p class="out-team__name">Анастасія</p>
        <p class="our-team__information">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </li>
      <li class="out-team__item swiper-slide">
        <img src="./img/our-team.png" alt="" class="out-team__img" />
        <p class="out-team__name">Олександра</p>
        <p class="our-team__information">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </li>
      <li class="out-team__item swiper-slide">
        <img src="./img/our-team.png" alt="" class="out-team__img" />
        <p class="out-team__name">Сабіна</p>
        <p class="our-team__information">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
