<section class="out-team__section acquaintance" id="our-team">
  <h2 class="title">Наша команда</h2>

  <div class="swiper">
    <ul class="out-team__item swiper-wrapper">
      <li class="out-team__item swiper-slide">
        <img src="/img/our-team/cleo.jpg" alt="" class="out-team__img" />
        <p class="out-team__name">Анастасія</p>
        <p class="our-team__information">
          Хедер, модальні вікна, перевірка року, моя команда, вчені, футер
        </p>
      </li>
      <li class="out-team__item swiper-slide">
        <img src="/img/our-team/frankie.jpg" alt="" class="out-team__img" />
        <p class="out-team__name">Олександра</p>
        <p class="our-team__information">
          Калькулятор, калькулятор часу, футбол
        </p>
      </li>
      <li class="out-team__item swiper-slide">
        <img src="/img/our-team/clawdeen.jpg" alt="" class="out-team__img" />
        <p class="out-team__name">Сабіна</p>
        <p class="our-team__information">
          Вгадай число, камінь-ножиці-папір, динозавр, введіть 3 числа
        </p>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <img src="/img/icons/out-team-arrow-next.svg" alt="" />
    </div>
    <div class="swiper-button-prev">
      <img src="/img/icons/out-team-arrow-prev.svg" alt="" />
    </div>
  </div>
  <hr />
</section>
