<section class="game">
  <h2 class="title">Камінь - ножиці - папір</h2>

  <div class="rsp__game">
    <ul class="rsp__image__list">
      <li class="rsp__image__item">
        <button id="stone__button" type="button" class="rsp__btn">
          <img src="/img/rsp/stone.svg" alt="stone" />
        </button>
      </li>
      <li class="rsp__image__item">
        <button id="scissors__button" type="button" class="rsp__btn">
          <img src="/img/rsp/scissors.svg" alt="scissors" />
        </button>
      </li>
      <li class="rsp__image__item">
        <button id="paper__button" type="button" class="rsp__btn">
          <img src="/img/rsp/paper.svg" alt="paper" />
        </button>
      </li>
    </ul>

    <div class="rsp__counter">
      <p>Рахунок:</p>
      <p id="counter__comp">Комп’ютер - 0</p>
      <p id="counter__user">Ви - 0</p>
    </div>
  </div>
  <p class="rsp__text">Зробіть ваш вибір!</p>

  <div id="comp__button" class="srp__comp__btn"></div>
  <hr />
</section>
