<section class="scientists__section">
  <h2 class="title">Обери вченого/их</h2>

  <ul class="scientists__list">
    <li class="scientists__item" id="1">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="2">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="3">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="4">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="5">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="6">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="7">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="8">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="9">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="10">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="11">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
    <li class="scientists__item" id="12">
      <img src="/img/scientists.png" alt="" class="scientists__img" />
    </li>
  </ul>

  <div class="options-container">
    <ul class="options-list first-options-list">
      <li>
        <button class="option">Які вчені народилися в 19 ст.</button>
      </li>
      <li>
        <button class="option">Відсортувати вчених за алфавітом</button>
      </li>
      <li>
        <button class="option">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li>
        <button class="option">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
    </ul>
    <ul class="options-list">
      <li>
        <button class="option">Знайти рік народження Albert Einshtein</button>
      </li>
      <li>
        <button class="option">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li>
        <button class="option">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li>
        <button class="option">
          Знайти вченого, який прожив найдовше і вченого, <br />який прожив
          найменше
        </button>
      </li>
    </ul>
  </div>
  <p class="last-option">
    <button class="option last-option">
      Знайти вчених, в яких співпадають перші літери імені і прізвища
    </button>
  </p>
</section>
