<!-- <button class="button" data-action="open-modal">Відкрити модалку</button>

<div class="backdrop js-backdrop">
  <div class="modal thank__modal">
    <p class="thank__title">Дякую за підписку!</p>

    <ul class="modal__list">
      <li class="modal__item">
        <img
          class="modal__img modal__img-position-1"
          src="./img/modal/sword.png"
          alt="sword"
        />
      </li>
      <li class="modal__item">
        <img
          class="modal__img modal__img-position-2"
          src="./img/modal/puzzle.png"
          alt="puzzle"
        />
      </li>
      <li class="modal__item">
        <img
          class="modal__img modal__img-position-3"
          src="./img/modal/tic-tac-toe.png"
          alt="tic tac toe"
        />
      </li>
      <li class="modal__item">
        <img
          class="modal__img modal__img-position-4"
          src="./img/modal/game-development.png"
          alt="game-development"
        />
      </li>
    </ul>
  </div>
</div> -->
