<section class="time-calculator__section numerical">
  <h2 class="title">Калькулятор часу</h2>
  <div class="time__calculator__container">
    <div class="time__calculator__div">
      <input id="minutes" class="time__calculator__input" type="number" />
      <button type="button" id="convert" class="date__btn">
        <svg class="time__calculator__icon">
          <use href="/img/icons/symbol-defs.svg#icon-dandruff"></use>
        </svg>
      </button>
    </div>
    <span class="dashed__separator"></span>
    <p id="time-calculator-result" class="time__calculator__text result__tc">
      Введіть число
    </p>
  </div>
  <hr />
</section>
